.FilterWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
}

@media (min-width: 768px) {
	.FilterWrapper {
		flex-direction: row;
	}
}

@media (min-width: 1400px) {
	.FilterWrapper {
		gap: 0;
	}
}
