.SearchIcon {
	position: absolute;
	left: 30px;
	height: 30%;
}

.ChevronDownIcon {
	position: absolute;
	right: 20px;
	width: 12px;
}

.ArrowLeftIcon,
.MoonIcon,
.SunIcon {
	height: 14px;
}

.SearchIcon path,
.ChevronDownIcon path,
.ArrowLeftIcon path,
.MoonIcon path,
.SunIcon path {
	fill: var(--text-color);
}
