@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
	--ff-nunito-sans: 'Nunito Sans', sans-serif;
	--fs-home-page: 14px;
	--fs-detail-page: 16px;

	--container-max-width: initial;
	--container-padding: 15px;

	--header-height: 70px;
}

/* 
- Mobile: 375px
- Desktop: 1440px
----------------------
- Homepage Items: 14px
- Detail Page: 16px 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	font-family: var(--ff-nunito-sans);
}
