@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
	--ff-nunito-sans: 'Nunito Sans', sans-serif;
}

/* 
- Mobile: 375px
- Desktop: 1440px
----------------------
- Homepage Items: 14px
- Detail Page: 16px 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-nunito-sans);
}
