@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
	--ff-nunito-sans: 'Nunito Sans', sans-serif;
	--fs-home-page: 14px;
	--fs-detail-page: 16px;

	--container-max-width: initial;
	--container-padding: 15px;

	--header-height: 70px;
}

/* 
- Mobile: 375px
- Desktop: 1440px
----------------------
- Homepage Items: 14px
- Detail Page: 16px 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	font-family: var(--ff-nunito-sans);
}

a {
	color: var(--text-color);
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

ul {
	list-style: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

@media (min-width: 768px) {
	:root {
		--container-max-width: 630px;
	}
}

@media (min-width: 992px) {
	:root {
		--container-max-width: 950px;
	}
}

@media (min-width: 1400px) {
	:root {
		--container-max-width: 1270px;
	}
}
