.CountryInfo {
	line-height: 24px;
	color: var(--text-color);
	text-transform: capitalize;
	font-family: var(--ff-nunito-sans);
	font-weight: 600;
	font-size: var(--fs-home-page);
}

.CountryInfo__value {
	display: inline;
	text-transform: none;
	font-weight: 300;
}
