.Detail {
	display: grid;
	padding-block: 40px;
}

.Detail__flag {
	width: 100%;
	box-shadow: 0px 0px 5px 0 var(--shadow);
}

.Detail__name {
	padding-block: 40px 20px;
	color: var(--text-color);
	font-family: var(--ff-nunito-sans);
	font-weight: 800;
	font-size: 32px;
}

.Detail__info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.Detail__info-group {
	width: 100%;
}

.Detail__borders {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
	padding-top: 20px;
}

.Detail__borders-prefix {
	color: var(--text-color);
	font-family: var(--ff-nunito-sans);
	font-weight: 600;
	font-size: 18px;
}

.Detail__borders-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

@media (min-width: 576px) {
	.Detail__info {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (min-width: 992px) {
	.Detail {
		grid-template-columns: 45% 1fr;
		gap: 40px;
	}

	.Detail__flag {
		height: 300px;
		object-fit: cover;
	}

	.Detail__name {
		padding-top: 0;
	}
}

@media (min-width: 1400px) {
	.Detail {
		align-items: center;
		gap: 80px;
	}

	.Detail__flag {
		height: 400px;
		object-fit: cover;
	}

	.Detail__borders {
		padding-top: 40px;
	}
}
