.Search {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.SearchIcon {
	position: absolute;
	left: 30px;
	height: 30%;
}

.SearchIcon path {
	fill: var(--text-color);
}

.Search__input {
	width: 100%;
	padding: 15px 15px 15px 60px;
	background-color: var(--elements);
	color: var(--text-color);
	border: 0;
	outline: 0;
	border-radius: 5px;
	font-family: var(--ff-nunito-sans);
	font-weight: 600;
	font-size: 14px;
}

.Search__input::placeholder {
	color: var(--input);
	font-weight: 300;
}
